@font-face {
    font-family: 'orkneyregular';
    src: url('../fonts/orkney-regular-webfont.woff2') format('woff2'),
         url('../fonts/orkney-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.abreMenu{
    height: 180px!important;
}

*{margin: 0; padding: 0;}

.fixar{ position: fixed; top: 0; }   

body { background: #f1f1f1; overflow-x: hidden; font-family: 'orkneyregular'!important; }

#noticias img{ display: none;}

@media only screen and (min-width: 1200px){

#site{ width: 1330px; margin: auto;}

#cabecalho {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalho.jpg");
}
 
#cabecalhoQuemSomos {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalhoQuemSomos.jpg");
}
    
#cabecalhoTermos {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalhoTermos.jpg");
}

#logo {
    float: left; padding-left: 218px;
}
    #menuMobile {
        display: none;
    }
#menu {
    float: left; margin-left: 28px; margin-top: 35px;
}
#menu li {
    float: left; list-style: none; margin-left: 12px;
    color: #fff; font-size: 18px;
}
#menu li a {
    color:#fff; text-decoration: none;
    opacity: 0.5; filter: alpha(opacity=50); /* For IE8 and earlier */
}
#menu li a:hover{
    opacity: 1; filter: alpha(opacity=100); /* For IE8 and earlier */
}

#ctaLogin {
    float: left; margin-left: 38px; margin-top: 25px;
}
#ctaLogin a {
    display: block;  width: 130px; height: 38px; line-height: 38px;
    border: 1px solid #fff; border-radius: 30px;
    text-align: center; text-transform: uppercase; color: #fff; font-size: 18px; text-decoration: none;
}
#ctaLogin a:hover{
    background: #fff;
    color: #000;
}

#banner1 {
    height: 461px; overflow: hidden;
    background-image: url("../img/bgBanner1.jpg");
    overflow: auto;
    color: #fff;
    border-bottom: 4px solid #ffbf00;
}

#bannerQuemSomos {
    height: 393px; overflow: hidden;
    background-image: url("../img/bgBannerQuemSomos.jpg");
    overflow: auto;
    color: #fff;
    border-bottom: 4px solid #ffbf00;
}
    

    
#banner1 h2{
    width: 830px; margin-top: 50px; margin-bottom: 14px; margin-left: auto; margin-right: auto;
    text-align: center; font-size: 58px;
}

#bannerTermos {
    height: 393px; overflow: hidden;
    background-image: url("../img/bgBannerTermos.jpg");
    overflow: auto;
    color: #fff; text-align: center;

}    
    
#bannerQuemSomos h2{
    text-align: center;
    font-size: 70px;
    padding-top: 120px
} 
    
#bannerTermos h2{
    font-size: 65px;
    padding-top: 120px
} 
    #bannerTermos p {
        font-size: 35px;
    }    
    
    #termos{
        padding-bottom: 30px;
        color: #1f353d
    }
    
    #termos h3{
        font-size: 30px;
        text-align: center;
        padding-top: 40px;
        max-width: 600px;
        margin: auto;
    }
    #termos  p{
        font-size: 12px!important;

    }
    
#banner1 h2 span, #bannerQuemSomos h2 span, #bannerTermos h2 span{
    color:#ffbf00
}
#ctrCadastreSe, #ctrDemo{
    margin-left: auto; margin-right: auto;
    width: 330px; height: 80px; line-height: 80px;
    text-align: center; text-transform: uppercase; font-size: 25px;
    background: #1f353d; 
    opacity: 0.9; filter: alpha(opacity=90); /* For IE8 and earlier */
    border-radius: 10px; margin-bottom: 30px;
}

#ctrDemo{
    margin-left: 144px;
}
#ctrCadastreSe a, #ctrDemo a {
    text-decoration: none; color:#fff;
}

#bitcoinBTC{
    width: 450px; height: 82px;
    margin-left: auto; margin-right: auto;
    text-align: center;
    margin-bottom: 30px; margin-top: 30px;
}
#bitcoinBTC .imgCotacoes{
float: left; width: 68px; height: 68px;
}

#bitcoinBTC p {
    
    color: #fff;
 
    float: left;
    height: 48px; line-height: 48px;
    padding: 10px;
    text-shadow: 0px 0px 15px #000;
}
    
#bitcoinBTC .nomeCotacoes{
    width: 120px;
    font-size: 30px;
    font-weight: bold;
}

    #bitcoinBTC .valorCotacoes{
        color: #ffbf00;
        font-size: 30px; 
        font-weight: bold;
    }
    
#bitcoinBTC p span { 
    float: right;
    }
#bitcoinBTC .percentualCotacoes{
    color: #b7be00;
}

#cotacoes{
    height: 67px; overflow: hidden;
    background-image: url("../img/bgCotacoes.jpg");
    padding-top: 22px; padding-left: 273px;
    color: #ffffff;
}

#cotacoes div {
    float: left; width: 196px; height: 48px;
}
#cotacoes .imgCotacoes{
    float: left; margin-right: 10px; margin-top: -24px;
}
#cotacoes p {
    display: inline; font-size: 14px; line-height: 24px;
}

    #cotacoes .nomeCotacoes{
    display: block; padding-left: 58px;
}
#cotacoes .percentualCotacoes{
    color: #b7be00;
}

#mailing{
    display: none;
    width: 1330px; height: 60px; overflow: hidden;
    background-image: url("../img/bgMailing.png");
}

#mailing form{
    width: 900px; margin: auto; font-size: 28px; color: #fff;
}
#mailing form span{
    color: #ffbf00;
}
#mailing input{
    width: 250px; height: 40px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase; padding-left: 12px; margin-right: 5px; margin-left: 5px; margin-bottom: 10px; margin-top: 10px;  color:#1f353d;
} 
#mailing input[type="submit"]{
    width:60px; height: 40px; line-height: 40px; text-align: center; padding-left: 0px; 
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; 
}

#gadgets{ 
    height: 400px; overflow: hidden;
    background-image: url("../img/bgGadgets.jpg");
}
#gadgets h2{
    margin-left: 218px;  margin-top: 76px;
    width: 450px; height: 236px; line-height: 59px;
    color: #fff; font-size: 40px;
}

#noticias { 
    height: 1176px; overflow: hidden;
    background-image: url("../img/bgNoticias.jpg");
}
#noticias #bgBranco{
    background-image: url("../img/bgBranco.png");
    margin-top: 34px; margin-bottom: 35px;
}
    
    #qs{ 
    text-align: center;
    background-image: url("../img/bgNoticias.jpg");  
    padding-top: 30px;
    padding-bottom: 30px;
    }

    #qs #bgBranco div{
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 5px 5px #666;
        background-image: url("../img/bgBranco.png");
    }
    #bgBranco p{
        font-size: 24px;
        color: #1f353d;
        max-width: 894px; margin-left: auto; margin-right: auto; margin-top: 10px;
    }
    
#noticias h2{
    padding-top: 34px; padding-bottom: 36px;
    text-align: center;
    font-size: 50px; color: #1f353d;

}
#noticias .noticias{
    height: 250px;
    padding-left: 218px;
    padding-right: 218px;
    clear: both;
}
.noticiaLeft{
    background-image: url("../img/bgFaixaNoticia.png");
}

.noticiasInfo{
    width: 900px; padding-top: 20px;
    float: left;
}
#noticias .noticiaLeft .noticiaImg{
    widows: 225px;
    float: right;
}

#noticias .noticiaRight .noticiasInfo{
    width: 900px; padding-top: 20px;
    float: right;
    text-align: right
}
#noticias .noticiaRight .noticiaImg{
    widows: 225px;
    float: left;
}
#noticias h3{
    margin-top: 40px; margin-bottom: 20px;
    font-size: 30px; text-transform: uppercase;
}
#noticias p{
    font-size: 22px; line-height: 33px; margin-bottom: 20px;
}
#noticias img {
    margin-top: 35px;
}
#noticias a{
    display: block;
    width: 130px;
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; padding-top: 10px; padding-bottom: 10px;
}
.noticiaRight .noticiasInfo a{
    float: right;
}

#cadastro {
    height: 400px;
    background-image: url("../img/bgCadastro.jpg");
    margin-top: 34px; 
    color: #fff; text-align: center;
}

#cadastro h2{ 
    font-size: 50px;  
    padding-top: 85px; padding-bottom: 20px;
}
#cadastro h2 span{
    color: #ffbf00;
}
#cadastro p{
    font-size: 30px;
}
#cadastro a {
    display: block; margin: auto;
    margin-top: 40px;
    width: 330px; height: 80px; line-height: 80px;
    font-size: 30px; color: #1f353d; text-transform: uppercase; text-decoration: none;
    background-color: #fff; 
    border-radius: 20px;
}

#qualidades {
    width: 900px; margin: auto; color: #1f353d; background: #ffffff;
}
#qualidades div{
    float: left; width: 205px; height: 440px; text-align: center; padding-top: 27px; padding-left: 10px; padding-right: 10px;
}
#qualidades h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
#qualidade p {
    font-size: 15px;
}
#qualidadeSeguranca, #qualidadeMobile {
    background: #f1f1f1;
}
#qualidadeAgilidade, #qualidadeProfissionalismo{
    background: #fff;
}
#contato {
    height: 535px;
    background-image: url("../img/bgContato.jpg");
    clear: both;
    text-align: center; color: #fff;
    border-bottom: 4px solid #dda600;
}
#contato h2{
    font-size: 50px; padding-top: 38px; padding-bottom: 10px;
}
#contato h2 span{
    color: #ffbf00;
}
#contato p {
    font-size: 20px; margin-bottom: 20px;
}
#contato form{
    width: 894px; margin: auto;
}
#contato input{
    width: 420px; height: 42px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase; padding-left: 12px; margin-right: 5px; margin-left: 5px; margin-bottom: 10px; float: left; color:#1f353d;
} 
#contato textarea{
    width: 862px; height: 165px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase; padding-left: 12px; padding-top: 12px; margin-right: 5px; margin-left: 5px; margin-bottom: 10px; float: left;  font-family: 'orkneyregular'!important;
}
#contato input[type="submit"]{
    width: 174px; 
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; padding-top: 10px; padding-bottom: 10px;
    float: right; margin-right: 10px;
}
#rodape{
    height: 145px; overflow: hidden;
    background-image: url("../img/bgRodape.png");
    padding-left: 218px; padding-top: 36px;
    color:#fff;
}
#rodape h2{
    font-size: 17px; margin-bottom: 20px;
}
#rodape a{
    color: #fff;
}
#rodape #rodapeRedesSociais ul li{
    list-style: none;  margin-bottom: 10px; height: 40px; line-height: 40px;
}
#rodape a {
    text-decoration: none; height: 40px; line-height: 40px; display: block;
}
#rodape a img{
    float: left; margin-right: 10px;
}
#rodape div{
    float: left; width: 223px;
}
#rodape ul li{
    height: 24px; line-height: 24px;
}

}

@media only screen and (min-width: 300px) and (max-width: 1199px){
  
    #cabecalhoTermos {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalhoTermos.jpg");
}
    #bannerTermos {
    background-image: url("../img/bgBannerTermos.jpg");
    overflow: auto;
    color: #fff; text-align: center;

}    
    
#bannerQuemSomos h2{
    text-align: center;
    font-size: 70px;
    padding-top: 120px
} 
    
    h2 span {
    color: #ffbf00;
}
    
#bannerTermos h2{
    font-size: 65px;
margin-top: 40px;
} 
    
    #bannerTermos p { margin-bottom: 40px;}
    #bannerTermos p {
        font-size: 35px;
    }    
    
    #termos{
        padding-bottom: 30px;
        color: #1f353d
    }
    
    #termos h3{
        font-size: 30px;
        text-align: center;
        padding-top: 40px;
        max-width: 600px;
        margin: auto;
    }
    #termos  p{
        font-size: 12px!important;

    }


#cabecalho {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalho.jpg");
}
    
    #cabecalhoQuemSomos {
    height: 89px; overflow: hidden;
    background-image: url("../img/bgCabecalhoQuemSomos.jpg");
}

#logo {
    float: left; padding-left: 25px;
}

    #menuMobile{
        float: right; margin-right: 20px; margin-top: 10px; display: block;
    }
    
#menu {
    clear: both;
}
    #menu li {
        text-align: right; list-style: none; margin-right: 30px;
    }
    #menu li a {
    color:#fff; text-decoration: none;
    opacity: 0.5; filter: alpha(opacity=50); 
}
    .separadorMenu { display: none;}


#ctaLogin {
    float: left; margin-left: 38px; margin-top: 25px;
}
#ctaLogin a {
    display: block;  width: 130px; height: 38px; line-height: 38px;
    border: 1px solid #fff; border-radius: 30px;
    text-align: center; text-transform: uppercase; color: #fff; font-size: 18px; text-decoration: none;
}
#ctaLogin a:hover{
    background: #fff;
    color: #000;
}

#banner1 {
    height: 461px; overflow: hidden;
    background-image: url("../img/bgBanner1.jpg");
    overflow: auto;
    color: #fff;
    border-bottom: 4px solid #ffbf00;
}
#banner1 h2{
    max-width: 450px; margin: auto;
    text-align: center;
    margin-top: 20px; margin-bottom: 20px;
    font-size: 24px;
}
#banner1 h2 span{
    color:#ffbf00;
    font-weight: bold;
    padding-top: 10px;
    font-size: 30px; 
    display: block;
}
    
#bannerQuemSomos {
    background-image: url("../img/bgBannerQuemSomos.jpg");
    overflow: auto;
    color: #fff;
    border-bottom: 4px solid #ffbf00;
}
#bannerQuemSomos h2{
    max-width: 450px; margin: auto;
    text-align: center;
    margin-top: 20px; margin-bottom: 20px;
    font-size: 60px; padding-top: 20px;
}
#bannerQuemSomos h2 span{
    color:#ffbf00;
    font-weight: bold;
    padding-top: 10px;
    font-size: 70px; 
    display: block;
}
    
#ctrCadastreSe, #ctrDemo{
    width: 280px; height: 60px; line-height: 60px; margin: auto;
    text-align: center; text-transform: uppercase; font-size: 20px;
    background: #1f353d; 
    opacity: 0.9; filter: alpha(opacity=90); /* For IE8 and earlier */
    border-radius: 10px;
}

#ctrCadastreSe a, #ctrDemo a {
    text-decoration: none; color:#fff;
}

#bitcoinBTC{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
    #bitcoinBTC  .valorCotacoes{
        color: #ffbf00;
    }

#bitcoinBTC .imgCotacoes{
    margin-top: 10px;
}

#bitcoinBTC .percentualCotacoes{
    color: #b7be00;
}

#cotacoes{
    height: 104px; overflow: hidden;
    background-image: url("../img/bgCotacoesMobile.jpg");
    background-size: 100% 140px;
    padding-top: 5px;
    color: #ffffff;

}

    #cotacoes div {
        width: 25%; text-align: center; float: left;
    }
    #bitcoinBCH{
        width: 28%!important;
    }
    #ripple{
        width: 22%!important;
    }
    #cotacoes .imgCotacoes{
        margin-top: 5px; margin-bottom: 0px;
    }
    #cotacoes p {
        font-size: 14px;
    }
#mailing{
    width: 100%; height: auto; text-align: center;
    background-image: url("../img/bgMailing.png");
}

#mailing form{
    width: 100%; margin: auto; font-size: 28px; color: #fff;
}
#mailing form span{
    color: #ffbf00;
}
#mailing input{
    width: 250px; height: 40px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase; padding-left: 12px; margin-right: 5px; margin-left: 5px; margin-bottom: 10px; margin-top: 10px;  color:#1f353d;
} 
#mailing input[type="submit"]{
    width:60px; height: 40px; line-height: 40px; text-align: center; padding-left: 0px; 
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; 
}

#gadgets{ 
    height: 140px; overflow: hidden;
    background-image: url("../img/bgGadgets.jpg");
    background-size: 100% 140px;
}
#gadgets h2{
    margin-top: 30px; margin-left: 10px;
    max-width: 50%; 
    color: #fff; font-size: 15px; line-height: 17px;
}

#noticias { 
    background-image: url("../img/bgNoticias.jpg");
}
#noticias #bgBranco{
    background-image: url("../img/bgBranco.png");
    margin-top: 34px; margin-bottom: 35px;
}
#noticias h2{
    padding-top: 20px; padding-bottom: 10px;
    text-align: center;
    font-size: 50px; color: #1f353d;

}
#noticias .noticiaImg{
    width: 225px; margin: auto;
}
#noticias .noticias{
    overflow: auto;
}
#noticias .noticiaLeft{
    background-image: url("../img/bgFaixaNoticia.png");
}


#noticias h3{
    margin-top: 20px; margin-bottom: 10px;
    width: 80%; margin: auto;
    font-size: 30px; text-transform: uppercase;
}
#noticias p{
    font-size: 28px; line-height: 33px; margin-bottom: 20px; padding-top: 20px;
    width: 80%; margin: auto; 
}
#noticias img {
    margin-top: 20px; clear: both;
}
#noticias a{
    display: block;
    width: 130px;
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; padding-top: 10px; padding-bottom: 10px;
    float: right; margin-bottom: 20px; margin-right: 10%;
}

        #qs{ 
    text-align: center;
    background-image: url("../img/bgNoticias.jpg");  
    padding-top: 30px;
    padding-bottom: 30px;
    }

    #qs #bgBranco div{
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: 0px 5px 5px #666;
        background-image: url("../img/bgBranco.png");
    }
    #bgBranco p{
        font-size: 24px;
        color: #1f353d;
        max-width: 894px; margin-left: auto; margin-right: auto; margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

#cadastro {
    height: 400px;
    background-image: url("../img/bgCadastro.jpg");
    margin-top: 34px; 
    color: #fff; text-align: center;
}

#cadastro h2{ 
    font-size: 30px; max-width: 500px; margin: auto;
    padding-top: 85px; padding-bottom: 20px;
}
#cadastro h2 span{
    color: #ffbf00;
}
#cadastro p{
    font-size: 20px;
}
#cadastro a {
    display: block; margin: auto;
    margin-top: 40px;
    width: 280px; margin: auto; margin-bottom: 20px; margin-top: 20px; height: 60px; line-height: 60px;
    font-size: 20px; color: #1f353d; text-transform: uppercase; text-decoration: none;
    background-color: #fff; 
    border-radius: 20px;
}

#qualidades {
    max-width: 900px; margin: auto; color: #1f353d; background: #ffffff;
}
#qualidades div{
    float: left;  width: 46%; height: 550px; text-align: center; padding-top: 27px; padding-left: 2%; padding-right: 2%;
}
#qualidades h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}
#qualidade p {
    font-size: 15px;
}
#qualidadeSeguranca, #qualidadeMobile {
    background: #f1f1f1;
}
#qualidadeAgilidade, #qualidadeProfissionalismo{
    background: #fff;
}
#contato {
    height: 610px;
    background-image: url("../img/bgContato.jpg");
    background-size: 100% 610px;
    clear: both;
    text-align: center; color: #fff;
}
#contato h2{
    font-size: 50px; padding-top: 38px; padding-bottom: 10px;
}
#contato h2 span{
    color: #ffbf00;
}
#contato p {
    font-size: 20px; margin-bottom: 20px;
}

#contato input{
    width: 97%; height: 42px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase; margin-right: 1%; padding-left: 1%; margin-left: 1%; margin-bottom: 10px; color:#1f353d;
} 
#contato textarea{
    width: 97%; height: 165px; border-radius: 5px; border: none; font-size: 20px; text-transform: uppercase;  padding-top: 12px; margin-right: 1%; margin-left: 1%; padding-left: 1%; margin-bottom: 10px; font-family: 'orkneyregular'!important;
}
#contato input[type="submit"]{
    width: 174px; 
    font-size: 17px; text-align: center;
    background-color: #1f353d; color: #fff; text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px; padding-top: 10px; padding-bottom: 10px;
    float: right; margin-right: 10px;
}
#rodape{
    clear: both;
    height: auto; overflow: auto;
    background-color: #1f353d;
    padding-top: 36px;
    color:#fff;
    border-top: 4px solid #dda600;
}
    #rodape h2 {
        margin-top: 20px;
    }
#rodape a{
    color: #fff;
}
#rodape #rodapeRedesSociais ul li{
    list-style: none;  margin-bottom: 10px; height: 40px; line-height: 40px;
}
#rodape a {
    text-decoration: none; height: 40px; line-height: 40px; display: block;
}
#rodape a img{
    float: left; margin-right: 10px;
}
#rodape div{
    float: left; width: 280px; margin-left: 20px;
}
#rodape ul li{
 margin-left: 20px;
}
}